.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.app-body {
  color: black;
  background-color: white;
  width: 620px;
  height: 500px;
  border-radius: 30px;
  border: 5px solid #FF453E;
}

.valueInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.pokemonContainer {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  white-space: pre-line;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
